/*Animaciones*/

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
    }
}

.hero {
    animation: fade 1s ease-in,
        slide-up 1.3s ease-in-out;
}

.nosotros {
    animation: fade 1s ease-in,
        slide-left 1.3s ease-in-out;
}


.container {
    animation: fade 1s ease-in,
        slide-up 1.3s ease-in-out;
}

/*Header*/
/*Para efecto de glassmorphismo cuando abrimos menú hamburguesa y carrito*/

.overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    /*Para que quede por encima del resto de las cosas*/

    /*Efecto de Glassmorphismo*/
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

/* SOY RODRI DEL PASADO MARCANDO EL OPEN-MENU */

.show-overlay {
    display: block;
}

/*Hover de los elementos "a" del navbar*/
.navbar-list li {
    position: relative;
    padding: 0;
}

.navbar-list li a::after {
    content: "";
    height: 2px;
    width: 100%;
    background: var(--text-white);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}

.navbar-list li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/*CARRITO */
/*Despues de cambiar el carrito en el html y en styles.css , aplicamos una animación en hover*/
.cart-icon {
    transition: all 0.2s ease-out;
}

.cart-icon:hover {
    color: var(--electric);
    border-color: var(--electric);
    transition: all 0.2s ease-in;
}

/*Botones del carrito*/
.quantity-handler {
    transition: all 0.2s ease-in;
}

.quantity-handler:hover {
    cursor: pointer;
    background-color: var(--electric);
    transition: all 0.2s ease-in;
}

/*Botones comprar(carrito) y add(producto) y BENUCBER(Hero)*/
.btn-add,
.hero-info a {
    transition: all 0.2s ease-out;
}

.btn-add:hover,
.hero-info a:hover {
    background-color: var(--fire);
    transition: all 0.2s ease-in;
}