@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@300&family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script:wght@400;500&family=Montserrat:wght@400;500&family=Poppins:wght@300&family=Spline+Sans:wght@300&display=swap');

:root {
    --rojo: #fa3232;
    --negro: #000;
    --blanco: #fff;
    --lightblanco: rgb(247, 235, 235);
    --gris: #adb9c7;
    --celeste: rgb(94, 191, 255);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

/*header*/

header {
    background: var(--rojo);
    color: var(--blanco);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
    z-index: 999;
}

#logo {
    font-size: 16px;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 150px;
}

.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: var(--text-gray);
    font-size: 14px;
}

.navbar-list li:first-child>a {
    color: var(--blanco);
    font-weight: 600;
}

.cart-icon {
    font-weight: 600;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 1rem;
    color: var(--blanco);
    cursor: pointer;
    position: relative;
}

.cart-bubble {
    position: absolute;
    top: -8px;
    right: -8px;
    text-align: center;
    background: var(--celeste);
    color: var(--negro);
    font-size: 10px;
    font-weight: 700;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
}

/* MENU HAMBURGUESA Desktop */
/* AGREGADO CLASE 10 */

.menu-label {
    display: none;
}

/*carrito*/
.cart {
    position: absolute;
    top: 65px;
    right: 0;
    padding: 50px 30px;
    background: var(--rojo);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    z-index: 2;
    min-width: 375px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*OCULTAR BARRA DE SCROLL DEL CARRITO*/

.cart::-webkit-scrollbar {
    display: none;
}

.cart h2 {
    color: var(--text-white);
    font-size: 20px;
    font-weight: 600;
}

.cart-item {
    color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--celeste);
    padding: 20px;
    border: 1px solid var(--negro);
    border-radius: 10px;
}

.cart-item img {
    height: 65px;
    width: 65px;
}

.item-info {
    display: flex;
    flex-direction: column;
    min-width: 110px;
}

.item-title {
    font-weight: 600;
    font-size: 14px;
}


.item-price {
    color: var(--negro);
    font-size: 16px;
    font-weight: 800;
}

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: 400;
}


.up, .down {
    background-color: var(--negro);
    color: var(--blanco);
    cursor: pointer;
}



.divider {
    margin-top: 20px;
    border: 0.5px solid var(--blanco);
    width: 100%;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.cart-total p {
    color: var(--blanco);
    font-weight: 700;
}

.cart-total span {
    color: var(--blanco);
    font-weight: 400;
    font-size: 18px;
}


/*Toggle del carro*/
.open-cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
    color: var(--blanco);
    font-size: 14px;
}

nav ul li a {
    color: var(--blanco);
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

nav li a:hover,
li a:focus {
    background-size: 100% 2px;
}


.btn-buy,
.btn-delete {
    cursor: pointer;
    padding: 10px 35px;
    color: var(--negro);
    background: var(--blanco);
    border-radius: 10px;
    border: none;
    width: 100%;
    transition: 0.3s all ease-out;
}


.btn-buy:hover {
    border: 2px solid var(--negro);
    background-color: var(--celeste);
}

.btn-delete:hover {
    border: 2px solid var(--negro);
    background-color: var(--celeste);
}


@media (max-width: 992px) {
    /*header*/

    .navbar {
        gap: 10px;
    }

    .cart-icon {
        border: 0px solid;
    }

    .navbar-list {
        position: absolute;
        top: 65px;
        width: 90%;
        flex-direction: column;
        background-color: var(--rojo);
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }

    .navbar-list a {
        font-size: 18px;
    }

    /* Mostramos el icono del menu */
    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .menu-label img {
        height: 20px;
        width: 25px;
    }

    .open-menu {
        display: flex;
    }
}


/* Main */
main {
    background-color: var(--celeste);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

.decoration {
    width: 100%;
    margin: 120px 0 0 0;
}

/*Hero*/

.hero {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    gap: 30px;
}


#hero-img {
    height: 100%;
    width: 100%;
    min-width: 200px;
    max-height: 200px;
    max-height: 382px;
    max-width: 522px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, .6);
    cursor: pointer;
    transition: all 0.5s;
}

#hero-img:hover {
    transform: scale(1.1);
}

.presentacion {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-evenly;
    font-size: 14px;
    max-width: 300px;
}

.presentacion h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
}

.buttons {
    margin-top: 5px;
    display: flex;
    gap: 10px;
    font-weight: 600;
}

.presentacion a {
    color: var(--negro);
    background-color: var(--blanco);
    width: 120px;
    padding: 8px;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
}

.presentacion a:hover {
    background-color: var(--rojo);
    color: var(--negro);
}


@media (max-width:768px) {
    .hero {
        display: flex;
        flex-direction: column;
    }

    .hero img {
        margin-top: 10px;
    }

    .presentacion {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}



/* Nosotros */

.nosotros {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid var(--negro);
    border-bottom: solid var(--negro);
    max-width: 1200px;
    gap: 20px;
}

.nosotros h2 {
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}

#nosotros-img {
    min-width: 305px;
    max-height: 200px;
    max-height: 200px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, .6);
    cursor: pointer;
    transition: all 0.5s;
}

#nosotros-img:hover {
    transform: scale(1.1);
}

.nosotros-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    max-width: 400px;
    padding: 16px;
}


@media (max-width:768px) {
    .nosotros {
        display: flex;
        flex-direction: column;
    }

    #nosotros-img {
        margin-top: 10px;
        min-width: 200px;
        transition: all ease 5s;
    }

    #nosotros-img:hover {
        transform: scale(1.1);
    }

    .nosotros-text {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 14px;
    }
}


/* Ventajas */

.ventajas {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem;
    gap: 2rem;
}

.ventajas h2 {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.ventajas-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    color: var(--blanco);
}

.ventajas-it {
    background-color: var(--negro);
    height: 300px;
    width: 30%;
    max-width: 458px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    transition: all 0.5s;
}

.ventajas-it:hover {
    transform: scale(1.1);
    background-color: var(--rojo);
    box-shadow: rgba(34, 30, 30, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}



@media (max-width:768px) {
    .ventajas-cards {
        display: flex;
        flex-direction: column;
    }

    .ventajas-it {
        height: auto;
        width: 80%;
    }

}


/*productos*/

#productos {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--negro);
    color: var(--blanco);
    margin: 2rem;
    padding: 2rem;
    gap: 1rem;
}

#productos h2 {
    text-align: center;
}

#productos img {
    height: 200px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    border-radius: 15px;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}


.category-container button {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.productos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.category-container button:hover {
    background-color: var(--celeste);
}

.productos-it {
    background-color: var(--lightblanco);
    color: var(--negro);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.productos-it:hover {
    background-color: var(--celeste);
}

.productos-it button {
    width: 50%;
    border: none;
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 50px;
}

.productos-it button:hover {
    background-color: var(--rojo);
    cursor: pointer;
}

.btn-load {
    width: 100px;
    align-self: center;
    margin: 20px;
    font-size: 18px;
    padding: 5px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.btn-load:hover {
    background-color: var(--celeste);
}

/*contacto*/

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
}


.contacto-boxes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contacto-boxes iframe {
    width: 100%;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    width: 50vw;
    gap: 9px;
}

.formulario input {
    border: none;
    background-color: var(--celeste);
    border-bottom: 1px solid black;
    padding: 10px;
    width: 100%;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Oculta las flechas en Chrome y Safari */
    appearance: none;
    /* Oculta las flechas en otros navegadores */
    margin: 0;
    /* Asegura que no haya margen adicional */
}

.formulario div input::placeholder {
    color: var(--negro);
}

.formulario textarea {
    border: none;
    background-color: var(--celeste);
    border-bottom: 1px solid black;
    padding: 10px;
}

.formulario textarea::placeholder {
    color: var(--negro);
}

#btn-enviar {
    background-color: var(--negro);
    color: var(--blanco);
    border: solid var(--negro) 0.1px;
    border-radius: 15px;
    margin-top: 5px;
    padding: 9px;
    border: solid var(--negro) 0.1px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .6);
    width: 35%;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}

#btn-enviar:hover {
    background-color: var(--rojo);
    color: var(--negro);
}

.contacto iframe {
    width: 50%;
    padding: 16px;
}

@media (max-width:1028px) {

    .contacto {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contacto iframe {
        width: 100%;
        height: 250px;
    }

    .formulario {
        width: 80%;
        justify-content: center;
        text-align: center;
    }

    #btn-enviar {
        align-self: center;
    }
}

footer {
    background-color: var(--negro);
    padding: 2rem;
    text-align: center;
    color: var(--blanco);
}

/* DINAMISMO JS*/
.show {
    display: flex;
}

.hidden {
    visibility: hidden;
}

.active {
    background-color: var(--celeste);
}

.disabled {
    background-color: var(--gris);
    color: white;
    cursor: not-allowed;
    border: none;
}

.disabled:hover {
    background-color: var(--gris);
    color: white;
    cursor: not-allowed;
    border: none;
}

/* ERRORES FORMULARIOS
/* Error / Success */
.form__field.error input {
    border: 1px solid #dc3545;
}

.form__field small {
    color: #dc3545;
    max-width: 350px;
    text-align: center;
    display: none;
}

.form__field.success input {
    border: 1px solid #28a745;
}

#form__error {
    color: #dc3545;
    font-size: 1rem;
    margin: 8px 0px;
    max-width: 350px;
    text-align: center;
}


/*modal*/
.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
}

.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}